In [1]:
import numpy as np
import pandas as pd
from sklearn import preprocessing
import matplotlib.pyplot as plt 

import tensorflow as tf

In [2]:
df = pd.read_csv("DataSets/Heart_Disease_Prediction.csv")

In [3]:
df.head()

,index,Age,Sex,Chest pain type,BP,Cholesterol,FBS over 120,EKG results,Max HR,Exercise angina,ST depression,Slope of ST,Number of vessels fluro,Thallium,Heart Disease
0,0,70,1,4,130,322,0,2,109,0,2.4,2,3,3,Presence
1,1,67,0,3,115,564,0,2,160,0,1.6,2,0,7,Absence
2,2,57,1,2,124,261,0,0,141,0,0.3,1,0,7,Presence
3,3,64,1,4,128,263,0,0,105,1,0.2,2,1,7,Absence
4,4,74,0,2,120,269,0,2,121,1,0.2,1,1,3,Absence

In [4]:
df['Heart Disease'].unique()

array(['Presence', 'Absence'], dtype=object)

In [5]:
df['Heart Disease'].replace('Presence', 1, inplace=True)
df['Heart Disease'].replace('Absence', 0, inplace=True)

In [6]:
df['Heart Disease'].unique()

array([1, 0], dtype=int64)

In [7]:
df.head()

,index,Age,Sex,Chest pain type,BP,Cholesterol,FBS over 120,EKG results,Max HR,Exercise angina,ST depression,Slope of ST,Number of vessels fluro,Thallium,Heart Disease
0,0,70,1,4,130,322,0,2,109,0,2.4,2,3,3,1
1,1,67,0,3,115,564,0,2,160,0,1.6,2,0,7,0
2,2,57,1,2,124,261,0,0,141,0,0.3,1,0,7,1
3,3,64,1,4,128,263,0,0,105,1,0.2,2,1,7,0
4,4,74,0,2,120,269,0,2,121,1,0.2,1,1,3,0

In [8]:
df.isnull().sum()

index                      0
Age                        0
Sex                        0
Chest pain type            0
BP                         0
Cholesterol                0
FBS over 120               0
EKG results                0
Max HR                     0
Exercise angina            0
ST depression              0
Slope of ST                0
Number of vessels fluro    0
Thallium                   0
Heart Disease              0
dtype: int64

In [9]:
df = df.drop('index', axis=1)

In [10]:
df.columns

Index(['Age', 'Sex', 'Chest pain type', 'BP', 'Cholesterol', 'FBS over 120',
       'EKG results', 'Max HR', 'Exercise angina', 'ST depression',
       'Slope of ST', 'Number of vessels fluro', 'Thallium', 'Heart Disease'],
      dtype='object')

In [11]:
len(df[df['Heart Disease']==1]), len(df[df['Heart Disease']==0])

(120, 150)

In [12]:
X = df[df.columns[:-1]].values
y = df[df.columns[-1]].values

In [13]:
#scale results to have more standardized range

In [14]:
from sklearn.preprocessing import StandardScaler

In [15]:
scaler = StandardScaler()
X = scaler.fit_transform(X)

In [16]:
from sklearn.model_selection import train_test_split

In [17]:
X_train, X_temp, y_train, y_temp = train_test_split(X,y, test_size=0.4, random_state=0)
X_valid, X_test, y_valid, y_test = train_test_split(X_temp,y_temp, test_size=0.5, random_state=0)

In [54]:
hidden_layer_size = 16

model = tf.keras.Sequential([
    tf.keras.layers.Dense(hidden_layer_size, activation='relu'),
    tf.keras.layers.Dense(hidden_layer_size, activation='relu'),
    tf.keras.layers.Dense(1, activation='sigmoid')
])

In [55]:
model.compile(optimizer = "adam",
             loss=tf.keras.losses.BinaryCrossentropy(),
              metrics=['accuracy'])

In [59]:
model.fit(X_train, y_train, batch_size=16, epochs=20, callbacks =tf.keras.callbacks.EarlyStopping(patience=2),  validation_data=(X_valid,y_valid))

Epoch 1/20
11/11 [==============================] - 0s 5ms/step - loss: 0.2944 - accuracy: 0.8951 - val_loss: 0.4925 - val_accuracy: 0.7407
Epoch 2/20
11/11 [==============================] - 0s 3ms/step - loss: 0.2884 - accuracy: 0.8951 - val_loss: 0.4918 - val_accuracy: 0.7407
Epoch 3/20
11/11 [==============================] - 0s 3ms/step - loss: 0.2838 - accuracy: 0.9012 - val_loss: 0.4920 - val_accuracy: 0.7407
Epoch 4/20
11/11 [==============================] - 0s 4ms/step - loss: 0.2774 - accuracy: 0.9074 - val_loss: 0.4917 - val_accuracy: 0.7222
Epoch 5/20
11/11 [==============================] - 0s 3ms/step - loss: 0.2727 - accuracy: 0.9074 - val_loss: 0.4919 - val_accuracy: 0.7407
Epoch 6/20
11/11 [==============================] - 0s 3ms/step - loss: 0.2678 - accuracy: 0.9074 - val_loss: 0.4919 - val_accuracy: 0.7407

In [60]:
model.evaluate(X_test,y_test)

2/2 [==============================] - 0s 2ms/step - loss: 0.4755 - accuracy: 0.7963

[0.47551897168159485, 0.7962962985038757]